<html>
    <head>
        <title>My first blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My first blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I want to write some interesting content in here about that what am I doing and why I am doing that.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p> I will describe some more interesting things in here. </p>
        </div>
    </body>
</html>
